body
{
	font-family:arial;
	font-size: 12px;
}

/*style for error messges*/
.error
{
	color: #FF0000;
	padding-left: 1em;
	font-family: arial;
	font-style: italic;
}

/* style for feedback messages*/
.status
{
	color: #249800;
	padding-left: 1em;
	font-family: arial;
	font-style: italic;
	font-weight : bold;
}

/* style for the form box */
.form_box
{
	float: left;
	width: 440px;
	background-color: #212121;
	border: 2px solid #FFFFFF;
	margin: 5px;
	padding: 1em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-image: url(../img/2.png);
	
}

/* style for the H1,H2 inside the form box*/
.form_box > H1, H2
{
	margin: 5px 10px 5px 15px;
	text-align: left;
	color: #FF4F0B;
	font-family: arial;
}

/*style for the input fields*/
INPUT[type=text], INPUT[type=password], SELECT, TEXTAREA
{
	width: 300px;
	margin: 0.5em auto;
	border: 1px solid #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 0.5em;
}

/*style for submit button and A link*/
INPUT[type=submit], FORM A, .Alink A
{
	float: right;
	border: none;
	margin: 0.3em 0 0;
	font-family: arial;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 20px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #585858;
	color: #FFFFFF;
	cursor: pointer;
}

/*aligning the A link inside the form*/
FORM A
{
	float: left;
	padding: 6px;
}

/*change color on mouse over for submit and A link*/
INPUT[type=submit]:hover, FORM A:hover, .Alink A:hover
{
	background-color: #FF4F0B;
}

/*style for the label tag*/
LABEL
{
	padding: 1em;
	color: #FFFFFF;
	font-family: arial;
}

.left{
	overflow: hidden;
}

/*align label tag on the left side*/
.left LABEL
{
	float: left;
}

/* align input tag on the right side*/
.left INPUT, SELECT, TEXTAREA
{
	float: right;
}

/* clear the style */
.clear {
   clear: both;
}

/* adjusting the width for the date drop down menu */
SELECT[name=dob_day], SELECT[name=dob_month], SELECT[name=dob_year]
{
	margin: 2px 0 0 7px;
	width: 100px;
}

/* adjusting the width for the jobtype and department drop down menu */
SELECT[name=jobtype], SELECT[name=department]
{
	width: 313px;
}

.text
{
	display: block;
	margin: 5px 0 5px 15px;
	color: #fff;
	font-size: 16px;
}

.data
{
	margin: 5px 0 5px 10px;
	color: #994;
	font-size: 16px;
	font-weight: bold;
}

/* override the margin for the buttons originally set in the form_box class*/
.Alink A
{
	margin: 10px 0 0 30px;
}

TEXTAREA
{
	min-height:400px;
	font-family: arial;
}

/*
Start of style for the news box 
*/

.news_box
{
	//position: relative;
	float: left;
	width: 500px;
	background-color: #d3edff;
	border: 2px solid #FFFFFF;
	margin: 5px auto;
	padding: 1em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.news_box > article
{
	float: left;
	width: 455px;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	margin: 10px;
	padding: 1em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
}

.news_box H1
{
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	color: #0061a5;
}

article .footer
{
	font-size: x-small;
	display:inline;
}

article .snippet
{
	font-size: 14px;

}

/*
End of style for news box 
*/