body, html
{
	height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body
{
	font-family:arial;
	font-size: 12px;
}

/*center the layout*/
#container
{ 
	width: 90%;
	margin: 0 auto;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#top_header
{
	margin: 0;
	height: 100px;
	background: #fff;;
}

#top_header img
{
	float: left;
    margin: 5px;
}

#bottom_footer 
{
	height: 50px;
	background-color: #585858;
	
}

#main 
{
	width: 100%;
	margin: 30px;
	
}

nav
{
	background-color: #585858;
}

#logout
{
	margin: 10px 0;
	float: right;
}

#logout a
{
	border: none;
	margin: 0 1em;
	font-family: arial;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 20px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #585858;
	color: #FFF;
	cursor: pointer;
}

#logout a:hover
{
	background-color: #FF4F0B;
}

.welcome
{
	font-size: 14px;
	font-weight: bold;
	color: #0061a5;
	border-right: 1px solid black;
}

.name
{
	font-size: 12px;
	font-weight: normal;
}