BODY
{
	background-color: #E44D26;
	margin: 20px 0 0;
	padding: 0;
	font-family: arial;
	background-image: url(../img/7.gif);
	background-repeat: repeat;
}
.error
{
/*for error messges*/
	color: #FF0000;
	padding-left: 1em;
	font-family: arial;
	font-style: italic;
}

.status
{
	color: #249800;
	padding-left: 1em;
	font-family: arial;
	font-style: italic;
	font-weight : bold;
}
#login_register
{
	width: 340px;
	background-color: #212121;
	border: 2px solid #FFFFFF;
	margin: 20px auto 0;
	padding: 1em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-image: url(../img/2.png);
}
H1, H2
{
	margin-top: 0;
	text-align: center;
	color: #FFFFFF;
	font-family: arial;
}
INPUT[type=text], INPUT[type=password]
{
	display: block;
	width: 300px;
	margin: 1em auto;
	border: 1px solid #FFFFFF;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 0.5em;
}
INPUT[type=submit], FORM A
{
	border: none;
	margin: 0 1em;
	font-family: arial;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 20px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #585858;
	color: #FFFFFF;
	cursor: pointer;
}
FORM A
{
	float: right;
	padding: 6px;
}
INPUT[type=submit]:hover, FORM A:hover
{
	background-color: #FF4F0B;
}
LABEL
{
	padding: 1em;
	text-align: center;
	color: #FFFFFF;
	font-family: arial;
}

IMG{
	display: block;
    margin: 0 auto 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

P#status {
	color : red;
}
